.store__page {
  color: #213547;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 510px;
  background-color: #e7eaee;
  border-radius: 10px;
  overflow: hidden;
}

.store__header {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  background-color: #e7eaee;
  border-bottom: 1px solid #ccc;
}


.store__header .filters{
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.store__header .filters .selectCategories {
  background-color: #c2d2e0;
  width: 110px;
  border-radius: 5px;
  font-family: var(--fuente-dm-sans);
}

.store__header .filters .rangePrices {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.store__header .filters .rangePrices .priceValue {
    font-size: 1.2rem;
    font-family: var(--fuente-poppins);
}
.store__header .header-button{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store__header .header-button .cart-button {
  outline: none;
  background: rgb(54, 141, 223);
  border: 1px solid rgb(5, 132, 252);
  color: white;
  border: 1px solid;
  cursor: pointer;
  z-index: 1000;
  border-radius: 10%;
  padding: 5px;
  transition: left 0.3s ease;
}
.store__header .header-button .cart-button.open {
  outline: none;
  left: 300px;
  color: rgb(241,150,14);
  border: 1px solid white;
}

.store__content {
  width: 100%;
  max-height: 450px;
  overflow-y: auto;
  padding: 10px;
}

.products ul {
    list-style: none;
    display: grid;
    width: 100%;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(250px,1fr) );
    gap: 1.5rem;    
}

.product {
    border: 1px solid;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
}

.product img {
    height: 200px !important;
    width: 200px !important;
    border-radius: 10%;
    margin: 5px; 
}

.addCart{
  color: white;
  background-color: rgb(54, 141, 223);
  outline: none;
  border: 1px solid rgb(41, 104, 163);
  border-radius: 4px;
  padding: 2px;
}
.product-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.input-units{
  width: 30%;
  position: relative;
}

.removeCart {
  color: white;
  background-color: rgb(241, 150, 14);
  outline: none;
  border: 1px solid rgb(182, 115, 16);
  border-radius: 4px;
  padding: 2px;
}

.no-products {
    display: flex;
    justify-content: center;
}

.store__page button:hover {
  border-color: #646cff;
}
.store__page button:focus,
.store__page button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
  .cart-sidebar {
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: rgb(231,234,238);
    box-shadow: 2px 0 5px rgb(18, 18, 43);
    color: rgb(26, 26, 68);
    transition: left 0.3s ease;
    z-index: 1000;
    overflow-y: scroll;
    scroll-behavior: smooth;
    --scrollbar-thumb: #2d485f;
    scrollbar-width: thin;
  }

  .cart-sidebar.open {
    left: 0;
    padding-left: 10px;
  }

  .cart-sidebar .content-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cart-sidebar .content-cart h3{
    color: rgb(33,53,71);
    font-size: small;
  }

  .cart-sidebar .content-cart img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    margin: 5px; 
}
.content-cart .product-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(26, 26, 68);
    border-radius: 10%;
    margin-bottom: 5px;
    list-style: none;
    width: 90%;
}

@media only screen and (max-width: 480px) {
  .store__page .filters {
    gap: 5px;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
}