@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --fuente-poppins: "Poppins", sans-serif;
    --fuente-dm-sans: "DM Sans", sans-serif;
    --color-background: radial-gradient(circle, rgba(47,29,57,1) 0%, rgba(36,26,51,1) 17%, rgba(19,18,18,1) 100%);
    --color-primary-purple: rgb(74, 27, 102);
    --color-secundary-prurple: rgb(149, 59, 177);
    --color-gradient-purple: radial-gradient(circle, rgba(47,29,57,1) 0%, rgba(36,26,51,1) 17%, rgba(19,18,18,1) 100%);
    --color-primary-white: rgb(255, 255, 255);
    --color-yellow-complementary: #c0c03b;
    background-color: rgb(14, 9, 17);
}
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 16px;
}
.portafolio__header{
    color: var(--color-primary-white);
    background: var(--color-gradient-purple);
    display: flex;
    width: 100%;
    margin-top: -1.2dvh;
    z-index: 1000;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    margin-bottom: 80px;
}

.portafolio__header h3{
    font-family: var(--fuente-poppins);
    font-size: 30px;
}

.portafolio__header .header__actions {
    color: var(--color-primary-white);
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.portafolio__header .header__actions button{
    display: none;
}

.portafolio__header .header__actions a {
    text-decoration: none;
    color: var(--color-primary-white);
    font-family: var(--fuente-dm-sans);
    font-size: 18px;
}

.portafolio__header .header__actions a:hover {
    border-bottom: 1px solid var(--color-yellow-complementary);
}


.portafolio__header .header__button button {
    color: var(--color-primary-white);
    background-color: var(--color-primary-purple);
    border: 1px solid var(--color-primary-purple);
    font-family: var(--fuente-dm-sans);
    font-size: 16px;
    border-radius: 8px;
    height: 48px;
    width: 170px;
}

.portafolio__header .header__button button:hover {
    color: var(--color-yellow-complementary);
    background-color: var(--color-primary-white);
}

.portafolio__main{
    margin-top: 10px;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
}
.portafolio__main .presentacion{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 80px;
    margin-top: 70px;
}

.portafolio__main .presentacion img{
    border-radius: 50px;
    width: 250px;
    height: 310px;
    border: 1px solid rgb(39, 19, 51);
    box-shadow: rgba(74, 27, 102, 0.56) 0px 22px 70px 40px;
}

.portafolio__main .presentacion .presentacion__descripcion{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.portafolio__main .presentacion .presentacion__descripcion .title{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: var(--color-primary-white);
    margin-bottom: 25px;
}
.portafolio__main .presentacion .presentacion__descripcion h2{
    font-family: var(--fuente-dm-sans);
    font-size: 3rem;
}
.portafolio__main .presentacion .presentacion__descripcion .photo-small{
    display: none;
}
.portafolio__main .presentacion .presentacion__descripcion p{
    text-align: justify;
    color: var(--color-primary-white);;
    font-family: var(--fuente-dm-sans);
    font-size: 1rem;
    margin-bottom: 25px;
}

.portafolio__main .presentacion .presentacion__descripcion p strong{
    color: var(--color-yellow-complementary);
    font-family: var(--fuente-dm-sans);
    font-size: 16px;
}

.portafolio__main .skills{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portafolio__main .skills .skills__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portafolio__main .skills .skills__content .title{
    color: var(--color-primary-white);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.portafolio__main .skills .skills__content h4{
    font-family: var(--fuente-dm-sans);
    font-size: 3rem;
}

.portafolio__main .skills .skills__content .skills-boxes{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2.5rem;
    margin-bottom: 80px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}

 .portafolio__main .skills .skills__content .skills-boxes .icon{
    color: var(--color-primary-white);
    padding: 15px 0px 0px 25px;
}

.portafolio__main .skills .skills__content .skills-boxes h5{
    color: white;
    font-family: var(--fuente-dm-sans);
    font-size: 1.75rem;
    padding: 0px 0px 0px 25px;
}

.portafolio__main .skills .skills__content .skills-boxes p{
    color: var(--color-primary-white);
    font-family: var(--fuente-dm-sans);
    font-size: 1rem;
    text-align: justify;
    padding: 5px 25px;
}

.portafolio__main .skills .skills__content .skills-boxes div{
    width: 354px;
    height: 308px;
    background-color: rgb(32, 16, 41);
    border-radius: 8px;
}

.portafolio__main .skills .skills__content .skills-boxes div{
    width: 354px;
    height: 308px;
    background-color: rgb(32, 16, 41);
    border-radius: 8px;
}

.content{
    display: flex;
    justify-content: center;
    width: 100%;
}
.projects {
    flex-direction: column;
    align-items: cente;
    width: 90%;
}
.projects h1{
    font-family: var(--fuente-poppins);
}
.projects h3{
    font-family: var(--fuente-dm-sans);
}

.portafolio__main .work-experience {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.portafolio__main .work-experience .title{
    color: var(--color-primary-white);
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.portafolio__main .work-experience h3{
    font-family: var(--fuente-dm-sans);
    font-size: 3rem;
    color: var(--color-primary-white);
}
.portafolio__main .work-experience .works {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    position: relative;
}

.portafolio__main .work-experience .works::before {
    content: '';
    position: absolute;
    top: 0;
    left: 20px;
    width: 2px;
    height: 100%;
    background: var(--color-primary-white);
}

.portafolio__main .work-experience .works .work::before {
    content: '';
    position: absolute;
    top: 18px;
    left: 15px;
    width: 10px;
    height: 10px;
    background: var(--color-yellow-complementary);
    border-radius: 50%;
    border: 2px solid var(--color-yellow-complementary);
}

.portafolio__main .work-experience .works .work {
    position: relative;
    padding-left: 50px;
    margin-bottom: 60px;
}

.portafolio__main .work-experience .works .work {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.portafolio__main .work-experience .works .work h4{
    font-family: var(--fuente-dm-sans);
    font-size: 2.1rem;
    color: var(--color-yellow-complementary);
}

.portafolio__main .work-experience .works .work h5{
    font-family: var(--fuente-dm-sans);
    font-size: 28px;
    color: var(--color-primary-white);
}

.portafolio__main .work-experience .works .work h6{
    font-family: var(--fuente-dm-sans);
    font-size: 20px;
    color: var(--color-primary-white);
    margin-bottom: 15px;
}

.portafolio__main .work-experience .works .work p{
    font-family: var(--fuente-dm-sans);
    font-size: 18px;
    color: var(--color-primary-white);
    max-width: 60%;
}

.portafolio__main .work-experience .works .work p strong{
    font-family: var(--fuente-dm-sans);
    font-size: 18px;
    color: var(--color-yellow-complementary);
}

.window__contact{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 18, 44, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.window__contact .content{
    width: 400px;
    background-color: rgb(56, 29, 71);;
    color: var(--color-primary-white);
    font-family: var(--fuente-poppins);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    border-radius: 20px;
}

.window__contact .content .close-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.window__contact .content .close-button button{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: transparent;
    outline: none;
    border-radius: 50%;
    display: flex;
    border: none;
    cursor: pointer;
}

.window__contact .content .title{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.window__contact .content .contact-info ul{
    list-style: none;
}

.window__contact .content .contact-info ul li{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
}

.window__contact .content .contact-info ul li a{
    gap: 10px;
    display: flex;
    color: white;
    text-decoration: none;
}

.window__contact .content .contact-info ul li a:hover{
    color: var(--color-yellow-complementary);
    border-bottom: 1px solid var(--color-yellow-complementary);
}
.window__contact .content .contact-info p{
    color: var(--color-yellow-complementary);
}

/* Responsive vista tablet */

@media only screen and (max-width: 1150px) {
    .portafolio__header{
        gap: 5px;
    }
    .portafolio__header .header__actions{
        display: flex;
        width: 100%;
        font-size: 1rem;
        justify-content: space-evenly;
        align-items: center;
    }
    .portafolio__header .header__actions button{
        font-size: 1rem;
        font-family: var(--fuente-dm-sans);
        display: inline;
        color: var(--color-primary-white);
        background-color: transparent;
        border: none;
        height: auto;
        width: auto;
        outline: none;
    }
    .portafolio__header .header__actions button:hover{
        color: var(--color-primary-white);
        background-color: transparent;
        border-radius: 0px;
        border-bottom: 1px solid var(--color-yellow-complementary);
    }
    .portafolio__header h3{
        display: none;
    }

    .portafolio__header .header__button button {
        display: none;
    }
    .portafolio__header .header__button button:hover {
        display: none;
    }

    .portafolio__main .work-experience .works .work {
        display: inline;
    }

    .portafolio__main .work-experience .works .work h6{
        margin-bottom: 25px;
    }

    .portafolio__main .work-experience .works .work p{
        text-align: justify;
        max-width: 90%;
    }

  }

  /* vista celular */

  @media only screen and (max-width: 960px) {

    .portafolio__main .presentacion .photo-big{
        display: none;
    }
    .portafolio__main .presentacion .presentacion__descripcion{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .portafolio__main .presentacion .presentacion__descripcion .photo-small{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
  }

  /* dispositivos pequeños */
  @media only screen and (max-width: 450px){
    .portafolio__main .skills .skills__content .skills-boxes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .window__contact .content{
        width: 75%;
    }
  }